 <!-- this function like header tag in html5 -->
 <ion-toolbar color=tertiary>
  <ion-buttons slot="start">
    <ion-menu-toggle>
      <ion-button>
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
  </ion-buttons>
  <ion-title>
    Modal Component
  </ion-title>
</ion-toolbar>

<!-- this is will hold the split pane -->
<ion-content>

 <ion-button (click)="OpenModel()">
    Open Modal (Bottom)
    <ion-icon mode="ios" name="arrow-forward"></ion-icon>
  </ion-button>

</ion-content>
